// @import '~antd/dist/antd.css';
$sidebar-bg-color: #01333d;
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import '~bootstrap/scss/bootstrap';

//global classname
.form-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.form-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.form-label {
  color: #000000 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px;
  margin-bottom: 12px;
}
.form-input {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #dcdcdc !important;
  border-radius: 4px;
  box-shadow: unset !important;
  width: 100%;
  outline: none;
  &:hover {
    border-color: #000000 !important;
  }
  &:focus {
    border-width: 1px !important;
    border-color: #000000;
    box-shadow: unset !important;
  }
}
.btn-primary {
  height: 40px;
  background-color: #0a6efa;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    opacity: 0.5;
  }
}
// .apexcharts-tooltip {
//   background: #0d0b0b;
//   color: blue;
// }

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4e8bfc; /* color of the thumb */
  border-radius: 2px; /* roundness of the thumb */
}

/* Style the scrollbar track when hovered */
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.ant-table-wrapper {
  overflow-x: auto; /* Ensure horizontal scrollbar is visible */
}

/* Targeting the horizontal scrollbar */
.ant-table-wrapper::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

/* Track */
.ant-table-wrapper::-webkit-scrollbar-track {
  background: #ff0000; /* Color of the scrollbar track */
}

/* Handle */
.ant-table-wrapper::-webkit-scrollbar-thumb {
  background: #f70606; /* Color of the scrollbar handle */
  border-radius: 4px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
.ant-table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #ff0000; /* Color of the scrollbar handle on hover */
}

