/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap&subset=greek');

body {
  margin: 0;
  height: unset !important;
  font-family: 'Arial', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000 !important;
  overflow: hidden;
}
html {
  font-size: 16px !important;
}

/* @media (max-width: 768px) {
  html {
    font-size: 14px !important;
  }
} */
