.animated-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: moveAndScale 10s linear infinite;
}

@keyframes moveAndScale {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(1);
  }
  75% {
    transform: translate(-50%, 50%) scale(1);
  }
}