/* Custom scrollbar styles */
/* .custom-scrollbar ::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #ee0909;
    border-radius: 6px;
  }
  
  .custom-scrollbar ::-webkit-scrollbar-thumb:hover {
    background-color: #f10e0e;
  }
  
  .custom-scrollbar ::-webkit-scrollbar-track {
    background-color: #ff0b0b;
  } */

  .even-row {
    background-color: #0c3e52; /* Light gray background for even rows */
  }
  
  .odd-row {
    background-color: linear-gradient(to right,   #054346,   #143e51); /* Gradient background for odd rows */
  }


/* 
.ant-table-content::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
/* } */
/* 
.ant-table-content::-webkit-scrollbar-track {
    background: orange;
    /* color of the tracking area */
/* } */ 

/* .ant-table-content::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    /* border-radius: 20px; */
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    /* creates padding around scroll thumb */
/* } */ 

 /* 

/* .ant-table::-webkit-scrollbar-thumb {
  background-color: blue !important
}

.ant-table::-webkit-scrollbar {
  height: 8px;
} */ 