.grid-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 23%; 
    grid-template-rows: 31% 31% 31% ;
    background-color: transparent;
    padding: 1px;
    height: 100%; /* Set height to 100% of viewport height */
    width: 100%; /* Set width to 100% of viewport width */
    gap: 20px
}

.grid-item {
    background-color: rgba(11, 36, 55, 0.5);
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 100%; /* Set height to 100% */
    overflow: hidden;
}

.grid-item1 {
    background-color: transparent;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 100%; /* Set height to 100% */
    overflow: hidden;
}

.item-span1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item1.item-span1 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 24% 24% 24% 23%;
    height: 100%; /* Set height to 100% of viewport height */
    width: 100%; /* Set width to 100% of viewport width */
}
.inner-grid-item {
    padding: 5px;
    display: grid; /* Make the grid item a grid container */
    place-items: center; /* Align content both horizontally and vertically */
}

.item-span2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.item-span6 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 4 / span 1;
}

.item-span7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3 / span 1;
}

.nested-div {
    height: 50px; /* Set the height as needed */
    background: linear-gradient(to right, rgb(12, 53, 71), rgb(12, 30, 57));
    display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
}

.title {
    color: #fff; /* Set color to white */
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 16px; /* Set font size */
    margin-left: 25px;
  }

  .inner-item-span1 {
    grid-column-start: 1;
    grid-column-end: 3;

  }

  .inner-item-span2 {
    display: flex;
    flex-direction: row;
  }

  .inner-item-span4 {
    grid-column-start: 1;
    grid-column-end: 3;

  }

  